* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
    font-family: "Times New Roman", serif;
}

:root {
    --primary-color: #ffffff;
    --secondary-color: #212121;
    --footer-color: #222222;
    --menu-color: #353535;
    --hover-color: rgb(242, 241, 241);
}

.dark_mode {
    --primary-color:  #212121;
    --secondary-color: #fff;
    --footer-color:  #222222;
    --menu-color: rgb(222, 183, 183);
    --hover-color: #7f7f7f;
}

header {
    height: 71px;
    box-shadow: 0 1px 8px #888;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    background-color: var(--primary-color);
    color: var(--secondary-color)
}

.nav {
    flex: 0 1;
}

.night_icon {
    padding-right: 1rem;
    cursor: pointer;
}

.nav i {
    width: 1em;
    height: 1em;
    font-size: 1.2rem;
    color: var(--secondary-color);
}

.night_icon i {
    font-size: 24px;
    user-select: none;
    width: 1em;
    height: 1em;
    color: var(--secondary-color);
}

button {
    background-color: var(--primary-color);
    border: none;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

button:hover {
    color: rgb(227, 231, 236);
    background-color: var(--hover-color);
    transition: .3s;
}

button {
    cursor: pointer;
}

.header_menu {
    display: flex;
    align-items: center;
}

.header_menu i {
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    margin-left: 3rem;
}

.header_menu i:hover {
    color: gray;
}

.content {
    margin-top: 4rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

.news_card {
    display: flex;
    width: 65%;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    padding: 10px;
    margin-bottom: 25px;
    border-radius: 5px;
    gap: 1.5rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 1px solid white;
}

.news_card img {
    object-fit: cover;
    width: 320px;
    height: 268px;
}

.title {
    font-size: 21px;
    line-height: 27px;
    font-family: "Roboto", sans-serif;
}

.news_text {
    display: flex;
    flex-direction: column;
}

.author {
    font-size: 12px;
    font-weight: 100;
    line-height: 22px;
    color: #808290;
    margin-top: 0.25rem;
    margin-bottom: 1rem;
}

.read_more {
    font-size: 13px;
    font-weight: 350;
    padding-bottom: 0.75rem;
}

.read_more a {
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: bold;
}

.lower_text {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}
footer {
    position: relative;
    margin-top: 30px;
    width: 100%;
    background: rgba(0, 0, 0, 0.173);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border-top: 1px solid rgba(255, 255, 255, 0.287);
}

.copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background: #131A22;
}

.copy {
    margin-bottom: 15px;
    margin-top: 15px;
    color: #ffc107;
    font-size: clamp(0.1rem, 3vw, 0.8rem);
}

.footercontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: medium;

}

.footercontent>span:nth-child(2) {
    position: relative;
    color: #ffc107;
    font-size: medium;
    text-align: center;
}

.footercontent>span>b,
u {
    color: #c2d7ff;
    font-size: medium;
    font-weight: 600;
}

#footersocial {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40% !important;
    
    margin-bottom: 15px;
    text-decoration: none !important;

}

#footersocial>a>i {

    font-size: medium;
}

#footersocial>a {
    text-decoration: none !important;
    margin-left: 1rem;
}
hr {
    width: 90%;
    border: 1px solid var(--primary-color);
}

.icon_box {
    display: flex;
    align-items: center;
    width: 60%;
    height: 50px;
    padding: 3rem 0;
    justify-content: space-evenly;
}

.icon_box i {
    font-size: 30px;
    color: #fff;
}

.menu_bar {
    background-color: #353535;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 13.5rem;
    padding-top: 1rem;
    display: none;
}

.menu_bar hr {
    width: 100%;
    border-color: gray;
}

.menu_bar a {
    text-decoration: none;
    color: #fff;
    padding-left: 1.5rem;
    padding: 1rem;
}

.country_list {
    color: #fff;
    padding-left: 1.5rem;
    padding: 1rem;
}

select {
    width: 7rem;
    margin-top: 0.25rem;
    padding: 0.1rem;
    background-color: #353535;
    color: #fff;
    cursor: pointer;
}

select.country_code option:checked {
    background-color: rgb(84, 60, 60);
}

.header_menu p {
    font-weight: bold;
    color: #fff;
    padding: 1rem;
}


.menu_bar a:hover {
    background-color: gray;
    transition: .3s;

}

@media only screen and (max-width: 1000px) {
    .news_card {
        flex-direction: column;
        width: 100%;
    }

    .news_card img {
        width: 100%;
        height: 100%;
        padding-bottom: 20px;
    }

    footer p {
        font-size: 16px;
    }

    .read_more {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}